<?xml version="1.0" encoding="UTF-8"?>
<service id="shotwell-sharing-flickr">
  <type>shotwell-sharing</type>
  <name>Flickr</name>
  <icon>flickr</icon>
  <provider>flickr</provider>
</service>
